# zsh local config
.zsh_config

# Node.js
/node_modules

# Rust
/target
/Cargo.lock

# Build artifacts
/dist
*.js
*.d.ts
*.map
*.wasm
*.css

# VSCode
/.vscode

# fonts.css
!/web/fonts/fonts.css

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

