@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-areas:
    "prog bench"
    "prog output"
    "input btn";

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 5fr 2fr;
    height: 100%;
  }

  .buttons {
    grid-template-rows: auto auto;
    grid-row-gap: 0.5em;
  }
}

header {
  grid-template-columns: auto auto;
  display: grid;
  margin: auto auto 1em;
}

.buttons {
  padding-bottom: 1em;
  display: grid;
}

textarea {
  box-sizing: border-box;
}

h2, h3 {
  margin: auto;
}

#toggle {
  width: fit-content;
  height: fit-content;
  float: right;
}

textarea {
  width: 100%;
}

.program, .in, .out {
  display: flex;
  flex-flow: column;
}

.flex-header {
  flex: 0 1 auto;
}

.flex-content {
  flex: 1 1 auto;
}

.program {
  grid-area: prog;
}

.in {
  grid-area: input;
}

.out {
  grid-area: output;
}

.bench {
  grid-area: bench;
}

.buttons {
  grid-area: btn;
}

.code {
  padding: 0.5em;
  height: 100%;
}

#error {
  display: none;

  width: 75%;
  height: 75%;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  padding: 1em;
}
