@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Merriweather+Sans&family=Merriweather:ital@0;1&display=swap');

// Ayu-rs
[theme="dark"] {
  --text: #c5c5c5;
  --btn-text: #c5c5c5;
  --code-bg: #191f26;
  --code-text: #e6e1cf;
  --bg: #0f1419;
  --bg-secondary: #14191f;
  --link: #0096cf;
}

// Rust
[theme="light"] {
  --text: #262625;
  --btn-text: #e1e1db;
  --code-bg: #f6f7f6;
  --code-text: #000;
  --bg: #e1e1db;
  --bg-secondary: #3b2e2a;
  --link: #2b79a2;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h2, h3 {
  font-family: "Merriweather", serif;
}

h3 {
  font-style: italic;
}

label {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16pt;
}

button {
  border-radius: 5px;
  background-color: var(--bg-secondary);
  color: var(--btn-text);
  border: 1px solid black;
  font-size: 16pt;
  font-family: "Merriweather Sans", sans-serif;
}

textarea {
  border-radius: 5px;
}

a {
  color: var(--link);
}

svg {
  stroke: #e1e1db;
}

.code {
  font-family: "JetBrains Mono", monospace;
  color: var(--code-text);
  background-color: var(--code-bg);
  font-size: 12pt;
  border-radius: 5px;
}

#error {
  color: var(--btn-text);
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

#error > p {
  font-family: "JetBrains Mono", monospace;
}
